<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h2 class="mt-5">Login</h2>
       <form class="form container" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the username">
</div>
<div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>
<div>
    <input type="submit" class="form-control">
</div>
   </form>
</center>
{% endblock %}