<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h4>Name of customer:{{u}}</h4>
        {% for i in o %}

        <div class="col-sm-4 mb-3">
            <img src="{{i.product.image.url}}" height="200px" width="200px">
        </div>
        <div class="col-sm-6 me-5 mb-3 text-center border border-1">
            <b>Product name:{{i.product.name}}</b><br>
            <b>Product price:{{i.product.price}}</b><br>
            <b>Delivery address:{{i.address}}</b><br>
            <b>Customer phone:{{i.phone}}</b><br>
            <b>Ordered on:{{i.ordered_date}}</b><br>
            <b>Delivery satus:{{i.delivery_status}}</b><br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}