{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <img src="{{c.image.url}}" height="500px" width="100%">
</div>
<div class="container-fluid mt-3" style="margin-bottom:100px">
    <h2 class="fw-bold" style="text-align:center ">{{c.name}}</h2>
    <p style="text-align:justify;line-height:2 ">{{c.desc}}</p>
</div>

<div class="container-fluid mt=3" style="margin-bottom:100px">
    <div class="row">
        {% for i in p %}
        <div class="col-sm-4">
        <div class="card text-center" style="width: 28rem;">
            <img src="{{i.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary" >Details</a>
            </div>
        </div>

        </div>
         {% endfor %}
    </div>
</div>
{% endblock %}